.col-md-12.col-sm-12.col-xs-12#contentFooter
    .col-md-4.col-sm-4.col-xs-12 
        span ¡CONTÁCTANOS AHORA!
        img(src="/images/facebook.png", alt="piña papel")
        
    .col-md-4.col-sm-4.col-xs-12
        img(src="/images/email.png", alt="piña papel") 
        span invitaciones.pinapapel@gmail.com  
        img(src="/images/telefono.png", alt="piña papel")
        span ¿Te llamamos?
        br
        span 2017 - 2019 Piña Papel Todos los derechos reservados.
    .col-md-4.col-sm-4.col-xs-12 
        .col-md-5
            input(type="text", class="form-control", placeholder="Nombre")
        .col-md-5
            input(type="text", class="form-control", placeholder="Número telefónico")
        .col-md-2
            a(class="btn btn-default") Enviar