extends ./layouts/standard.pug

block content

  .container-fluid 

    h1 SERVICIOS
    .row#contentServicios
    
    h1 INVITACIÓN IMPRESA
    .row#contenInvImpresa

    h1 INVITACIÓN DIGITAL
    .row#contenInvDigital



  script(src="/javascripts/home.js")

